.logo {
  position: relative;
  width: 5rem;
  height: 8rem;
  margin-left: -4rem;
  /* border: 2px solid grey; */
}

.board-layout-main-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  width: 90vw;
  height: 90vh;
}

.dealers-card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
  height: 30%;
  margin-bottom: 2rem;
  /* border: 5px solid rgb(11, 50, 11); */
}

.players-card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
  height: 30%;
  margin-top: 1rem;
  border: 5px solid rgb(138, 154, 138);
}

.card-layout-container {
  width: 80%;
  height: 30%;
}

.cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin-left: 4rem;
  /* border: 1px solid grey; */
}

.dealer-button {
  position: absolute;
  bottom: 0;
  left: 18rem;
}

.player-button {
  position: absolute;
  top: 0;
  left: 18rem;
}

.dealer,
.player {
  margin-bottom: 2rem;
  /* height: 35%;
  width: 100%;
  border: 5px solid rgb(11, 50, 11); */
}
