.logo {
  position: relative;
  width: 5rem;
  height: 8rem;
  margin-left: -4rem;
  /* border: 2px solid grey; */
}

.board-layout-main-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  width: 90vw;
  height: 90vh;
}

.dealer-button {
  position: absolute;
  bottom: 0;
  width: 4rem;

  left: 17rem;
}

.player-button {
  width: 4rem;
  position: absolute;
  top: 12;
  left: 17rem;
}

.clickable {
  cursor: pointer;
}
